# Virtual Environment
.venv/

# Environment variables file
server/.env

# Python cache
__pycache__/
*.pyc

# IDE and editor specific files
.idea/
.vscode/
# ingore prettier config
.prettierc

# Frontend
client/node_modules/
client/.next/
client/out/
client/.env.local